{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% load static %}

{% bootstrap_messages %}
{% block assets %}
  <meta charset="UTF-8" />
  <title>Карта</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.2.0/ol.css">
  <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.1/dist/ol-layerswitcher.css" />
  <style>
    .map {
      width: 100%;
      height: 80%;
    }
    .ol-tooltip {
      position: absolute;
      background-color: white;
      -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      bottom: 17px;
      left: -50px;
      min-width: 200px;
    }
    .ol-tooltip:after,
    .ol-tooltip:before {
      top: 100%;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    
    .ol-tooltip:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px;
    }
    
    .ol-tooltip:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px;
    }
    
    .ol-tooltip p {
      margin-top: 0;
      margin-bottom: 0;
    }
    #info-panel {
      position: absolute;
      top: 0;
      right: 0;
      width: 300px; /* Установите нужную ширину */
      height: 100%; /* Установите нужную высоту */
      background-color: white;
      overflow-y: auto; /* Разрешить вертикальную прокрутку при необходимости */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000; /* Установите значение z-index по вашему усмотрению */
      display: none;
    }
    #info-panel h2 {
      margin-bottom: 10px;
      font-size: 1.5em;
      text-align: center;
    }
    #length-display {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    #legend {
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .legend-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    
    .legend-circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: currentColor;
      margin-right: 8px;
    }
    
    .legend-checkbox-container {
      margin-right: 8px; /* Задайте желаемый отступ между чекбоксом и кружком */
    }
    #zoom-buttons-container {
      position: absolute;
      top: 10px; /* Задайте нужный отступ сверху */
      left: 10px; /* Задайте нужный отступ слева */
      z-index: 1000; /* Задайте значение z-index по вашему усмотрению */
    }
    .layer-switcher {
      max-width: 300px;
    }
  </style>
{% endblock %}
{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/ol@v8.2.0/dist/ol.js"></script>
  <script src="https://unpkg.com/ol-layerswitcher@4.1.1/dist/ol-layerswitcher.js"></script>
  <script type="module" src="{% static 'map_2/main.js' %}"></script>
    <div id="map" class="map"></div>
    <div id="info"></div>
  <div id="mouse-position"></div>
  <button id="editButton" class="btn btn-primary">{{ _('Редактировать') }}</button>
  <button id="drawLineButton" class="btn btn-primary">{{ _('Линейка') }}</button>
  <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); font-size: 14px; cursor: pointer;" onclick="this.style.display='none';">
  <strong>Подсказка:</strong> Выбор скважин прямоугольником - <kbd>Ctrl + Left Click</kbd>, мультивыбор любых объектов - <kbd>Shift + Left Click</kbd>.
</div>
  <div id="tooltip" class="ol-tooltip">
    <div id="tooltip-content"></div>
  </div>
  <div id="info-panel" class="info-panel"></div>
{% endblock %}
