{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
  <div class="container wrapper flex-grow-1">

    <h1 class="my-4">{% translate 'Обновление информации' %}</h1>
      <div class="text-right mb-3">
        <!-- Отображение статуса подтверждения email -->
        {% if request.user.confirmed %}
            <span class="badge badge-success">{% translate 'Email подтвержден' %}</span>
        {% else %}
            <span class="badge badge-danger">{% translate 'Email не подтвержден' %}</span>
            <br>
            <p style="font-size: smaller;">
            <a href="{% url 'send_email_confirmation' request.user.id %}" class="btn btn-link btn-sm">{% translate 'Отправить повторно' %}</a>
            </p>
        {% endif %}
      </div>
      <div class="form-group">
        <a href="{% url 'organization_create' %}" class="btn btn-info" role="button">{% translate "Добавить профиль организации"%}</a>
        <a href="{% url 'organizations_mine' %}" class="btn btn-info" role="button">{% translate "Список моих организаций"%}</a>
      </div>
    <form method="post">
      {% csrf_token %}
      {% for field in update_form %}
          {{field.label_tag}}
          {{field}}
          {% if field.help_text %}
          <small class="form-text text-muted">{{field.help_text}}</small>
          {% endif %}
          {% if field.errors %}
          <small class="form-text", style=" color: red;">{{ field.errors }}</small>
          {% endif %}
      {% endfor %}
      {% for error in update_form.errors %}
      <small class="form-text", style=" color: red;">{{error}}</small>
      {% endfor %}
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Изменить" />
      </div>
    </form>
  </div>
{% endblock %}