{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}

  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Добавление организации' %}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in create_form %}
      <div class="form-group">
          {{field.label_tag}}
          {{field}}
          {% if field.help_text %}
          <small class="form-text text-muted">{{field.help_text}}</small>
          {% endif %}
      </div>
      {% endfor %}
      {% for error in create_form.errors %}
      <small class="form-text", style=" color: red;">{{error}}</small>
      {% endfor %}
      <div class="form-group">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Сохранить" />
      </div>
    </form>
  </div>
{% endblock %}