{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
  <!-- Если профиль организации уже создан, кнопку можно заменить на "Профиль организации" -->
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Обновление информации' %}</h1>
        <div class="text-right mb-3">
        <!-- Отображение статуса подтверждения email -->
        {% if email_status %}
            <span class="badge badge-success">{% translate 'Email подтвержден' %}</span>
        {% else %}
            <span class="badge badge-danger">{% translate 'Email не подтвержден' %}</span>
            <br>
            <p style="font-size: smaller;">
            <a href="{% url 'org_send_email_confirmation' id %}" class="btn btn-link btn-sm">{% translate 'Отправить повторно' %}</a>
            </p>
        {% endif %}
      </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          {% for field in update_form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for field in update_form.hidden_fields %}
            <div class="form-group">
              {{ field }}
            </div>
          {% endfor %}
          {% if logo %}
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{% translate 'Текущий логотип:' %}</h5>
                <img src="{{ logo.url }}" style="max-height: 100px" class="img-fluid">
              </div>
              <div class="card-footer">
                <a href="{% url 'logo_delete_view' id %}" class="btn btn-danger mt-2 float-end">{% translate 'Удалить логотип' %}</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      {% for error in update_form.errors %}
        <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% translate 'Изменить' %}" />
      </div>
    </form>
  </div>
{% endblock %}
