{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block assets %}
  <title>Разрез скважины</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;600&family=Nunito+Sans:wght@300;400&display=swap" rel="stylesheet" />
  <script src="{% static 'well_section/bundlers/fabula.global.js' %}"></script>
  <link href="{% static 'well_section/bundlers/fabula.global.css' %}" rel="stylesheet" />
  <style>
    #root {
      font-family: 'Nunito Sans';
    }
  </style>
{% endblock %}
{% block content %}
  <div id="root"></div>
  <script type="module">
          import { createApp, deliver, replicate, delay, loadModule } from "{% static 'well_section/lesta.esm.js' %}"
          const root = document.querySelector('#root')
  const app = createApp({
    delay,
    deliver,
    replicate,
    loadModule,
    modal: {}
  })

app.initPlugin(fabula)

// mode for form
app.mountForm({
  name: 'my_form',
  container: root,
  options: {
    async model() {
      const res = await fetch("{% static 'well_section/WS_form_config/form.json' %}")
      return await res.json()
    },
    async data() {
    },
    setters: {
      '_values.well.name'(v) {
        console.log(v)
        // this.method.set()
        return v
      }
    },
    actions: {
      clear() {
        this.method.update({})
        return { type: 'warning', message: 'Форма отчищена' }
      }
    },
    buttons: {
      async save(values) {
        await delay(2000)
        localStorage.setItem(this.name, JSON.stringify(values))
        return { type: 'success', message: 'Данные успешно сохранены.', delay: 2000 }
      },
      load() {
        const values = JSON.parse(localStorage.getItem(this.name))
        this.method.update({ values })
        return { type: 'success', message: 'Данные загружены' }
      },
      clear() {
        this.dialog('clear')
      },
      async submit(values) {
        console.log(values)
        // const res = await fetch('https://foo', {
        //   method: "POST",
        //   headers: {
        //     Accept: "application/json",
        //     'Content-Type': "application/json"
        //   },
        //   body: JSON.stringify(values)
        // })
        // const data = await res.json()
        // if (data.url) window.location.href = data.url
      }
    }
  }
})
</script>
{% endblock %}
