{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">
      {% translate "Ваши разрезы"%}
    </h1>
      <div class="form-group">
        <a href="{% url 'well_section_create' %}" class="btn btn-info" role="button">{% translate "Создать разрез скважины"%}</a>
</div>
<table class="table table-striped">
<thead> 
  <tr>
    <th>{% translate "Наименование разреза"%}</th>
    <th>{% translate "Дата создания"%}</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% if well_sections %}
    {% for elem in well_sections %}
      <tr>
        <td>{{ elem.name }}</td>
        <td>{{ elem.created_at|date:"d E Y в H:i" }}</td>
        <td>
          <a href="{% url 'well_section_result' elem.id %}">{% translate "Посмотреть"%}</a>
          <br>
          <a href="{% url 'well_section_update' elem.id %}">{% translate "Изменить"%}</a>
          <br>
          <a href="{% url 'well_section_delete' elem.id %}">{% translate "Удалить"%}</a>
        </td>
      </tr>
    {% endfor %}
{% endif %}
</tbody>
</table>
</div>
{% endblock %}