{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}

{% bootstrap_messages %}

{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Расчет ЗСО' %}</h1>
    <form method="post" enctype="form-control" id="form">
      {% csrf_token %}
      {% for i in well_numbers %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Cкважина № {{ i }}</h5>
            <div class="form-group">
              <label for="debits">Расход:</label>
              <input type="number" min="0" name="debits" id="debits" class="form-control" placeholder="62.8" step="0.01" required/>
              <small class="form-text text-muted">м.куб/сут</small>
            </div>

            <div class="form-group">
              <label for="x">Координата скважины по оси X:</label>
              <input type="number" min="1" name="x" id="x" class="form-control" step="1" placeholder="20" required/>
              <small class="form-text text-muted">Номер блока по оси X</small>
            </div>

            <div class="form-group">
              <label for="y">Координата скважины по оси Y:</label>
              <input type="number" min="1" name="y" id="y" class="form-control" step="1" placeholder="20" required/>
              <small class="form-text text-muted">Номер блока по оси Y</small>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Рассчитать" id="submitButton" />
        <small class="form-text text-muted">Расчет может занять довольно большое время, как расчет закончится - вас перекинет на страницу с результатом</small>
      </div>
    </form>
  </div>
  <script>
    $(() => {
      const $submitButton = $('#submitButton')
      $submitButton.on('click', () => {
        if ($submitButton.attr('disabled') === 'disabled') {
          return
        }
        $submitButton.attr('disabled', 'disabled')
        $submitButton.val('Считаем ...')
        $('#form').submit()
      })
    })
  </script>
{% endblock %}
