{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}

{% bootstrap_messages %}

{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Рассчет ЗСО' %}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for i in well_numbers %}
        <div class="form-group">
          Расход скважины № {{ i }}
          <input type="float" name="debits_{{ i }}">
            <small class="form-text text-muted">м.куб/сут</small>
        </div>
      {% endfor %}
      <div class="form-group">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Рассчитать" />
      </div>
    </form>
  </div>
{% endblock %}
