{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}

{% bootstrap_messages %}

{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Расчет ЗСО' %}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in create_form %}
        {% if forloop.counter0|divisibleby:2 %}
          <div class="row">
        {% endif %}
        <div class="col-md-6">
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <small class="form-text" style="color: red;">{{ error }}</small>
            {% endfor %}
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}

      <div class="form-group">
        <button class="btn btn-primary" role="button">{% translate 'Далее' %}</button>
      </div>
    </form>
  </div>
{% endblock %}
