{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
      


    <h1 class="my-4">
      {% translate "Ваши проекты ЗСО"%}
    </h1>
      <div class="form-group">
        <a href="{% url 'zso_create' %}" class="btn btn-info" role="button">{% translate "Рассчитать ЗСО"%}</a>
      </div>
<table class="table table-striped">

<thead> 
  <tr>
    <th>{% translate "Название проекта"%}</th>
    <th>{% translate "Дата создания"%}</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% if zso %}
    {% for elem in zso %}
      <tr>
        <td>{{ elem.project_name }}</td>
        <td>{{ elem.created_at|date:"d E Y в H:i" }}</td>
        <td>
          <a href="{% url 'zso_watch' elem.id %}">{% translate "Посмотреть"%}</a>
          <br>
          <a href="{% url 'zso_delete' elem.id %}">{% translate "Удалить"%}</a>
        </td>
      </tr>
    {% endfor %}
{% endif %}
</tbody>
</table>

</div>
{% endblock %}